body
{
  background-color: rgb(254, 225, 152);
}

table
{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(133, 255, 204);
    padding: 15px;
    width: 50%;
    font-family: "Courier New";
}

td
{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(133, 255, 204);
    padding: 15px;
    width: 50%;
    text-align: center;
    font-family: "Courier New";
}

th
{
  border-bottom: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  width: 50%;
  background-color: lavender;
  font-family: "Courier New";
}

h1
{
  font-family: "Courier New";
  font-size: 30pt;
  color: black;
}
h4
{
  font-family: "Courier New";
  font-size: 18pt;
  color: black;
}

p, form, input[type=submit]
{
  color: black;
  font-family: "Courier New";
  font-size: 12pt;
}

input[type=text], input[type=password]
{
  border: none;
  border-bottom: 1px solid rgb(200, 200, 200);
  font-family: "Courier New";
}

input[type=text]:focus, input[type=password]:focus
{
  border: 2px solid rgb(0, 0, 0);
  font-family: "Courier New";
}

